{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Nueva Moto
{% endblock titulo %}

{% block cabecera %}
    <div class="container">
        <div class="masthead-heading text-uppercase">Cargar nueva Moto</div>
    </div>
{% endblock cabecera %}


{% block contenido%}
<body>
    <h2>Complete los datos</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>                
        <input type="submit" value="Enviar">
    </form>
</body>
{% endblock contenido %}


{% block servicios %}
{% endblock servicios %}

{% block footer %}
{% endblock footer %}