{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
Busqueda Moto
{% endblock titulo %}

{% block cabecera %}
    <div class="container">
        <div class="masthead-heading text-uppercase">Resultado Busqueda</div>
    </div>
{% endblock cabecera %}

{% block contenido %}
    Motos disponibles de la marca {{marca}}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Km</th>
            </tr>
        </thead>
        <tbody>
            {% for moto in motos %}
            <tr>
                <td>{{moto.id}}</td>
                <td>{{moto.marca}}</td>
                <td>{{moto.modelo}}</td>
                <td>{{moto.anio}}</td>
                <td>{{moto.kilometraje}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}

{% block servicios %}
{% endblock servicios %}

{% block footer %}
{% endblock footer %}

